<%= form_for(@academium) do |f| %>
  <% if @academium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@academium.errors.count, "error") %> prohibited this academium from being saved:</h2>

      <ul>
      <% @academium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_acad %><br>
    <%= f.text_field :nome_acad %>
  </div>
  <div class="field">
    <%= f.label :localidade %><br>
    <%= f.text_field :localidade %>
  </div>
  <div class="field">
    <%= f.label :instrutor %><br>
    <%= f.text_field :instrutor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
