<p id="notice"><%= notice %></p>

<p>
  <strong>Nome acad:</strong>
  <%= @academium.nome_acad %>
</p>

<p>
  <strong>Localidade:</strong>
  <%= @academium.localidade %>
</p>

<p>
  <strong>Instrutor:</strong>
  <%= @academium.instrutor %>
</p>

<%= link_to 'Edit', edit_academium_path(@academium) %> |
<%= link_to 'Back', academia_path %>
