	<% breadcrumb :root %>
  <div class="txt-centro">
		<h1><%= title 'App fitness para musculação e condicionamento' %> <span>   <%= fa_icon "line-chart"%></span></h1>
	</div>

  <div class="container home">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "slider4.jpg"%>

        </div>
        <div class="item">
         <%= image_tag "slider2.jpg"%>

       </div>
       <div class="item">
         <%= image_tag "slider5.jpg"%>

       </div>
     </div>
   </div>

 </div>