	<% breadcrumb :root %>
  <div class="txt-centro">
    <h1><%= title 'App fitness para musculação e condicionamento' %> <span>   <%= fa_icon "line-chart"%></span></h1>
  </div>

  <div class="container home">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "slider4.jpg"%>

        </div>
        <div class="item">
         <%= image_tag "slider2.jpg"%>

       </div>
       <div class="item">
         <%= image_tag "slider5.jpg"%>

       </div>
     </div>
   </div>

 <%= javascript_include_tag "bemvindo.js" %>

   <div class="modal fade" id="bemvindo" tabindex="-1" role="dialog" aria-labelledby="BemVindo" >
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span >&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Bem vindo ao MuscleSys! :-)</h4>
        </div>

        <div class="modal-body">

          <p>Será um prazer ajudar você a melhorar sua performance em seus treinos.</p>
          <p>Entretanto há alguns pontos que precisamos salientar:</p>
          <p> 1- No momento o MuscleSys está em fase de desenvolvimento e as funcionalidades irão surgindo aos poucos;</p>
          <p> 2- Nossos primeiros usuários terão acesso a ofertas exclusivas futuramente na plataforma;</p>
          <p> 3- Você poderá se cadastrar normalmente e ir usando as funcionalidades já implementadas.</p>
          <p>O MuscleSys agradece seu interesse e informamos que estamos a disposição para quaisquer dúvidas através do formulário de contato no rodapé. </p>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>


</div>