
<p>
  <strong>Data medida:</strong>
  <%= @medida.data_medida %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @medida.peso %>
</p>

<p>
  <strong>Torax:</strong>
  <%= @medida.torax %>
</p>

<p>
  <strong>Ombro:</strong>
  <%= @medida.ombro %>
</p>

<p>
  <strong>Braco d:</strong>
  <%= @medida.braco_d %>
</p>

<p>
  <strong>Braco e:</strong>
  <%= @medida.braco_e %>
</p>

<p>
  <strong>Ante braco d:</strong>
  <%= @medida.ante_braco_d %>
</p>

<p>
  <strong>Ante braco e:</strong>
  <%= @medida.ante_braco_e %>
</p>

<p>
  <strong>Cintura:</strong>
  <%= @medida.cintura %>
</p>

<p>
  <strong>Quadril:</strong>
  <%= @medida.quadril %>
</p>

<p>
  <strong>Gluteo:</strong>
  <%= @medida.gluteo %>
</p>

<p>
  <strong>Coxa d:</strong>
  <%= @medida.coxa_d %>
</p>

<p>
  <strong>Coxa e:</strong>
  <%= @medida.coxa_e %>
</p>

<p>
  <strong>Perna d:</strong>
  <%= @medida.perna_d %>
</p>

<p>
  <strong>Perna e:</strong>
  <%= @medida.perna_e %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @medida.obs %>
</p>

<%= link_to 'Edit', edit_medida_path(@medida) %> |
<%= link_to 'Back', medidas_path %>
