<div class="conteiner">
	<div class="row">

		<div class="col-md-4">


	</div>

	<div class="col-md-4" id="p2"> 



			<br>
			<%= link_to (image_tag "google_active.png",class: "img-circle" ), 'http://musclesys.com.br',  :target => "_blank"%> 
			<%= link_to (image_tag "facebook_active.png",class: "img-circle"), 'https://www.facebook.com/pages/MuscleSys/1019521451407294',  :target => "_blank" %> 
			<%= link_to (image_tag "twitter02_active.png",class: "img-circle"), 'https://twitter.com/Muscle_Sys',  :target => "_blank" %> 

			<h6>© 2014 MuscleSys. Todos os direitos reservados. <br> Desenvolvido por  <%= link_to('Arneti Tecnologia', 'http://arneti.com.br', :target => '_blank', class: "arneti"  )%> </h6>

			<h6>Dúvidas, elogios ou sugestões: <%= link_to('contato@musclesys.com.br', 'contato@musclesys.com.br', :target => '_blank', class: "arneti"  ) %></h6>
			<h6>Brasil / Goiás</h6>
			<%=image_tag "brasil_goias.jpg", class: "band" %>


	</div>

	<div class="col-md-4">

	</div>

</div>
</div>

