<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<%= viewport_meta_tag(:maximum_scale => "1.0") %>

	<%= metamagic site: "MuscleSys", title: [:site, :title, ], separator: " — ",
	description: "App web fitness para acompanhamento nos treinos diários. Musculação, condicionamento e emagrecimento com estatísticas de qualquer lugar em qualquer hora",
	author: "https://www.linkedin.com/in/aristeuroriz",
	canonical:  "http://musclesys.com.br/", 
	twitter: {card: "summary", site: "@Muscle_Sys"}
	%>

	<meta name="google-site-verification" content="uI_7in9sLC6XQhr2XppMvD-uXRpeRSkZ4f-GhvMqRmA" />
	<meta name="msvalidate.01" content="1BC3099B6AF0FB25E3C9AAC8153597FE" />

	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= include_gon %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div id="wrap">
		<header>	
			<nav class="navbar-default navbar-fixed-top" role="navigation" id="menu">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar" style="margin-top: 4%;">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to((image_tag "logo_400x91.png", class: "logo col-lg-12", title: "Home"), root_path) %>
				</div>

				<div class="collapse navbar-collapse" id="bar">

					<div class="container">
						<%= render "layouts/navigation" %>
					</div>

				</div><!-- /.navbar-collapse -->
			</nav>

		</header>

		<div id="main" role="main">

			<div class="container">
				<div class="content">
					<div class="row-fluid">

						<div class="text-center">
							
								<%= bootstrap_flash %> 
							
						</div>

						<%= yield %>

					</div>

					<br><br>

					<div class="col-md-4 col-md-offset-8 text-center">

						<%= breadcrumbs pretext: "Você está aqui: ", display_single_fragment: false, style: :bootstrap, separator: "" %>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div id="footer">
		<%= render 'layouts/footer' %>
	</div>

	<script type="text/javascript">
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-57355885-1', 'auto');
	ga('send', 'pageview');
</script>

</body>
</html>
