<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<%= viewport_meta_tag(:maximum_scale => "1.0") %>
	<title><%= content_for?(:title) ? yield(:title) : "MuscleSys" %></title>
	<meta name="description" content="App fitness para acompanhamento nos treinos diários">
	<meta name="keywords" content="app,fitness,musculacao,emagrecer,avaliacao,imc,treinos,workout,gym,resultados">
	<meta name="author" content="Aristeu Roriz Neto">
	<meta name="robots" content="index,follow">
	<meta http-equiv="content-language" content="pt-br">
	<meta name="google-site-verification" content="uI_7in9sLC6XQhr2XppMvD-uXRpeRSkZ4f-GhvMqRmA" />
	<title>Muscleys</title>
	<%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= include_gon %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap">
		<header>	
			<nav class="navbar-default navbar-fixed-top" role="navigation" id="menu">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<%= link_to((image_tag "logo_400x91.png", class: "logo col-lg-12"), root_path) %>
				</div>

				<div class="collapse navbar-collapse" id="bar">

					<div class="container">
						<%= render "layouts/navigation" %>
					</div>

				</div><!-- /.navbar-collapse -->
			</nav>
		</header>

		<div id="main" role="main">

			<div class="container">
				<div class="content">
					<div class="row-fluid">

						<%= bootstrap_flash %> 

						<%= yield %>


					</div>

					<br>
					<br>

				</div>

			</div>

		</div>
	</div>
	<div id="footer">
		<%= render 'layouts/footer' %>
	</div>
	
</body>
</html>
